
@{
    ViewBag.Title = "View";
}

<table class="table table-bordered">
    <tr>
        <td><h1>Head1</h1></td>
        <td><h2>Head2</h2></td>
        <td><h3>Head3</h3></td>
        <td><h4>Head4</h4></td>
    </tr>
    <tr>
        <td><h1>Head1</h1></td>
        <td><h2>Head2</h2></td>
        <td><h3>Head3</h3></td>
        <td><h4>Head4</h4></td>
    </tr>
    <tr>
        <td><h5>Head5</h5></td>
        <td><h6>Head6</h6></td>
        <td><h7>Head7</h7></td>
    </tr>
    <tr>
        <td><h8>Head8</h8></td>
        <td><h9>Head9</h9></td>
        <td><h10>Head10</h10></td>
        <td><h11>Head11</h11></td>
    </tr>
    <tr>
        <td><h12>Head12</h12></td>
        <td><h13>Head13</h13></td>
        <td><h14>Head14</h14></td>
    </tr>
</table>

